doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='creditsstyle.css')
  title Document

nav
  ul.navbar
    li
      a(href='/') Home
    li
      a(href='/sheetdata1') Records
.records-container
    h2 CRÉDITOS 
    h3 Estudiantes
    p Allison Ruiz Romero 
    p Jesús Armando Arias Castro 
    p Santiago David Diaz Vásquez
    p Carlos Andres De La Rosa Echeverria 
    p Hernán Alejandro Mundell Zapata 
    p Juan Pablo Álvarez Petro
    p Guillermo De Jesus Cohen Vela
    p Rafael David Mejía Pérez
    p Roger Sebastian Marenco Argote 
    h3 Profesores 
    p Álvaro González García 
    p Darío Castro Castro 
    p Tomás Rada Crespo 
    p Willian Rafael López Pérez

