doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', type = 'text/css' ,href='indexstyles.css')
  title Láser
.column1
  nav
    ul.navbar
      li
        a(href='/') Home
      li
        a(href='/sheetdata1') Records
      li
        a(href='/credits') Credits
  .config
    img.laserimg(src = 'imagen_laser.webp')
  .config 
    label(for = '') Guía de uso
    .projectinfo 
      div Después de ser autenticado por X-SEC ENTRY, clickea "Shoot" para que TheraBeam Láser empiece el recorrido, espera que el recorrido termine para clickear nuevamente.
  .config
    label(for='') Status
    .status-container
      each e in lastRow
        div= e 
      .auth-msg Autenticado por X-SEC entry
.column2
  .banner
    img#logoxsec(src = 'xsec.png', alt = 'xsec')
    img#logo(src='laser.png' alt='logo')
    h1#title THERABEAM LÁSER
  .scanner
    p.scannerTitle Escaner
    .scannerIMG
  .controller
    a#shoot(href='/shoot') Shoot
    a#shoot(href='/') Authenticate

