doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', type = 'text/css' ,href='indexstyles.css')
  title Laser
.column1
  nav
    ul.navbar
      li
        a(href='/') Home
      li
        a(href='/sheetdata1') Records
      li
        a(href='/credits') Credits
  .config
    img.laserimg(src = 'imagen_laser.webp')
  .config 
    label(for = '') Guia de uso
    .projectinfo 
      div Despues de ser autenticado por XSEC SENTRY, clickea "Shoot" para que TheraBeam Laser empiece el recorrido, espera que el recorrido termine para clickear denuevo.
  .config
    label(for='') Status
    .status-container
      each e in lastRow
        div= e 
      .auth-msg Autenticado por X-SEC entry
.column2
  .banner
    img#logoxsec(src = 'xsec.png', alt = 'xsec')
    img#logo(src='laser.png' alt='logo')
    h1#title THERABEAM LASER
  .scanner
    p.scannerTitle Escaner
    .scannerIMG
        img.scannerIMGin(src = 'imagendescargada.png', alt = 'imagendescargada.png no encontrada.')
  .controller
    a#shoot(href='/shoot') Shoot
    a#shoot(href='/') Authenticate


    

